#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0ad0a397-f90c-433d-b3cc-370d3f39f505 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}