#s-179f9822-b36a-45f2-8eef-a1c7e9a0abfe > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-179f9822-b36a-45f2-8eef-a1c7e9a0abfe > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-179f9822-b36a-45f2-8eef-a1c7e9a0abfe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}