#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96b983ff-3b50-483f-9b9f-f7ee219f266e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}