#s-9810bd7b-fdbe-4881-9b22-db24e2f2a605 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9810bd7b-fdbe-4881-9b22-db24e2f2a605 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}