#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 #t-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 #t-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 #t-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 #t-hour {
  -ms-transform: rotate(0.0deg);
}
#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 #t-signals {
  -ms-transform: rotate(0.0deg);
}
#t-4fd5f0af-2a36-4e2f-88ef-4a1cc0e61a54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}